{% extends "layout.html" %}
{% block title %}Education{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/education.css') }}">
{% endblock %}

{% block content %}
<section class="education-section" >
  <div class="edu-container">
    <div class="edu-left" style="width: 100%;">
      <h2 class="edu-title">EDUCATION</h2>

      {% set educations = [
         {
          'period': '2023 – Present',
          'institution': 'Bannari Amman Institute of Technology',
          'details': [
            'Bachelor of Technology (AI & ML)<br>CGPA: 8.0 / 10'
          ]
        },
        {
          'period': '2020 – 2023',
          'institution': 'Vellalar Matric Hr.Sec.School',
          'details': [
            'SSLC – 10th Standard<br>Score: 100%',
            'HSC – 12th Standard<br>Score: 89%'
          ]
        }
       
      ] %}

      {% for edu in educations %}
      <div class="edu-block">
        <h3>{{ edu.period }}</h3>
        <h4>{{ edu.institution }}</h4>
        {% for line in edu.details %}
        <p>{{ line|safe }}</p>
        {% endfor %}
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock %}
