{% extends "layout.html" %}
{% block title %}Home{% endblock %}

{% block content %}
<section class="hero-section">
  <div class="hero-container">
    <div class="hero-left">
      <h4>{{ home.greeting }}</h4>
      <h1>{{ home.heading_prefix }} <span>{{ home.heading_name }}</span></h1>
      <p>{{ home.paragraph }}</p>
      <a href="{{ url_for('about') }}" class="btn">Learn More About Me</a>
    </div>

    <div class="hero-right">
      {% if home.hero_image %}
        <img src="{{ url_for('static', filename='images/' + home.hero_image) }}" alt="Profile Image">
      {% endif %}
    </div>
  </div>
</section>
{% endblock %}